
.Slide .MuiGridListTile-root {
  height: 300px !important;
}

.Slide .MuiGridList-root {
  justify-content: center;
}


.slider-css{
  background-color: #d7ccc8;
  border: 3px solid black;
  border-radius: 15px;
}