.mustseeapp {
font-size: 25px;
border: 2px solid brown;
height: 500px;
border-radius: 15px;
margin-top: 10px;
background-color: #ffcc80;
}

.mustseeapp select {
    font-size: 20px;
}

.mustseeapp button {
    font-size: 15px;
    margin: 10px;
}

.mustseeapp li {
font-size: 20px;
text-align: left;
}

h2 {
    font-size: 30px;
}

.saw {
    text-decoration: line-through;
}
